
:root{
    --main-font: 'Roboto', sana-serif;
    --main-light: #fff;
    --main-dark: #000;
    --main-color-font: #8F95A5;
    --secondary-color: #212121;
    --back-color: #F5F4FA;
    --main-back: #2196F3;}
.link{
    text-decoration: none;
    font-style: normal;
}
li {list-style-type: none;}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--main-color-font);

}

/*header*/

.logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-back);
    text-decoration: none;}
.logo_end {
    color: var(--main-dark)}

.studio  {
    width: 45px;
    left: 453px;
    color: var(--secondary-color);
    position: absolute;
    height: 16px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none; }
.studio:hover{
 color: var(--main-back);}
.portfolio {
    width: 72px;
    left: 548px;
    color: var(--main-back);
    position: absolute;
    height: 16px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none; }
.portfolio:hover { color: var(--main-back);
}
.contact{
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;}
.contact:hover{
    color: var(--main-back);}
.mail{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;}
.mail:hover{color: var(--main-back);}
.tel{
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;}
.tel:hover{color: var(--main-back);}
.mailIcon{
    position: absolute;
    left: 1052px;
    right: 532px;
    top: 34px;
    bottom: 34px;
    background: var(--main-back)}
.telIcon{
    position: absolute;
    left: 1243px;
    right: 347px;
    top: 32px;
    bottom: 32px;}

main {
  
    width: 1170px;
    height: 1360px;}

h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-color)}
p{

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;    
}
/*.bn{
    position: absolute;
    width: 575px;
    height: 54px;
    left: 512px;
    top: 174px;
}*/
.bn1 {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 500;
    width: 73px;
    height: 38px;
    left: 512px;
    top: 174px;
    background: var(--back-color);
    border-radius: 4px;}
.bn1:hover{
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.bn2{
    position: absolute;
    font-weight: 500;
    width: 125px;
    height: 38px;
    left: 593px;
    top: 174px;
    font-family: 'Roboto';
}
.bn2:hover{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}
.bn3{
    position: absolute;
    font-weight: 500;
    width: 112px;
    height: 38px;
    left: 726px;
    top: 174px;
    font-family: 'Roboto';
}
.bn3:hover{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}
.bn4{
    position: absolute;
    font-weight: 500;
    width: 103px;
    height: 38px;
    left: 846px;
    top: 174px;
    font-family: 'Roboto';
}
.bn4:hover{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}
.bn5{
    position: absolute;
    font-weight: 500;
    width: 130px;
    height: 38px;
    left: 957px;
    top: 174px;
    font-family: 'Roboto';
}
.bn5:hover{
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: #FFFFFF;
}
.tehno{
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
.poster{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 262px;
    
    background: #FFFFFF;
    border: 1px solid #EEEEEE;}
.seafood{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 262px;
    
    background: var(--main-light);
    border: 1px solid #EEEEEE;
}
.prime{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 696px;
    
    background: var(--main-light);
    border: 1px solid #EEEEEE;
}
.boxes{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 696px;
    
    background: var(--main-light);
    border: 1px solid #EEEEEE;
}
.borders{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 696px;
    background: var(--main-light);
    border: 1px solid #EEEEEE;
}
.edit{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;
    
    background: var(--main-light);
    border: 1px solid #EEEEEE;
}
.lab{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 1130px;
    
    background: var(--main-light);
    border: 1px solid #EEEEEE;
}
.business{
    box-sizing: border-box;

    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 1130px;
    
    background: var(--main-light);
    border: 1px solid #EEEEEE;
}
.pn{

    width: 1170px;
    height: 1360px;

}



footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background: #2F303A;
    text-decoration: none;
    font-style: normal;
}
.logo_foot{
    position: absolute;
    left: 215px;
    top:60px;
    
    font-family: 'Raleway';
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    
    color: var(--main-back);
    text-decoration: none;
}
.logo_endF{
    color: var(--main-light);
}
.address{}
.street{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 111px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    font-style: normal;
    letter-spacing: 0.03em;
    
    color: var(--main-light);
    text-decoration: none; 
}
.mail_foot{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 141px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
} 
.tel_foot {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 171px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;}
.conect {
    position: absolute;
    width: 116px;
    height: 16px;
    left: 516px;
    top: 72px;
   
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-light);
}
.instF{
    position: absolute;
    left: 528px;
    top: 128px;
}
.twitF{    position: absolute;
    left: 570px;
    top: 120px;}
.facebF{    position: absolute;
    left: 641px;
    top: 120px;}
.linkF{    position: absolute;
    left: 690px;
    top: 120px;}
.street_foot:focus{background: #2F303A;}
.tel_foot:focus{background: #2F303A;}
.mail_foot:focus{background: #2F303A;}